# dependencies
node_modules/
.pnpm-store/

# testing
coverage/

# production
dist/
build/
out/

# misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.*.local

# cloudflare
.wrangler/
.dev.vars

# vscode
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# dashboard
dashboard/dist/
dashboard/node_modules/

# worker
worker/dist/
worker/node_modules/
